{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password done</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'res/img/logoMS.png' %}">
</head>
<body class="reset-complete-page">
    <img src="{% static 'res/img/logoMS.png' %}" alt="MySeville Logo" class="app-logo">
    <div class="reset-complete-overlay">
        <div class="reset-complete-container">
            <h2>Password reset complete</h2>
            <p>Your password has been changed successfully. You can now <a href="{% url 'login' %}">log in</a>.</p>
        </div>
    </div>

   
</body>
</html>