{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set a new password</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'res/img/logoMS.png' %}">
</head>
<body class="reset-confirm-page">
    <img src="{% static 'res/img/logoMS.png' %}" alt="MySeville Logo" class="app-logo">
    <div class="reset-confirm-overlay">
        <div class="reset-confirm-container">
            {% block content %}
            <h2>Set a new password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-reset-confirm">Set password</button>
            </form>
            {% endblock %}
        </div>
    </div>


</body>
</html>







