{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password done</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'res/img/logoMS.png' %}">
</head>
<body class="reset-done-page">
    <img src="{% static 'res/img/logoMS.png' %}" alt="MySeville Logo" class="app-logo">
    <div class="reset-done-overlay">
        <div class="reset-done-container">
            <h2>Email correctly sent</h2>
            <p>Check your inbox. If there's an account with that email, you'll receive a reset link shortly.</p>
        </div>
    </div>


</body>
</html>



